<a href="https://colab.research.google.com/github/devannaalandra/Desain-dan-analisis-algoritma/blob/main/DAA13pertDevanna.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
def bfs(graph, start):
    visited = []
    queue = [start]

    while queue:
        node = queue.pop(0)
        if node not in visited:
            visited.append(node)
            neighbours = graph[node]
            for neighbours in neighbours:
                queue.append(neighbours)
    return visited

In [9]:
graph={ 'Amin' : {'Wasim', 'Nick', 'Mike'},
         'Wasim' : {'Imran', 'Amin'},
         'Imran' : {'Wasim', 'Faras'},
         'Faras' : {'Imran'},
         'Mike' : {'Amin'},
         'Nick' : {'Amin'}}

In [10]:
bfs(graph,'Amin')

['Amin', 'Nick', 'Mike', 'Wasim', 'Imran', 'Faras']

In [11]:
# o amin ------------
# |        |         |
# o wasim  o nick    o mike
# |
# o imran
# |
# o faras

bfs(graph, 'Amin')

['Amin', 'Nick', 'Mike', 'Wasim', 'Imran', 'Faras']

In [12]:
# o wasim ----
# |          |
# o imran    o amin ----
# |          |          |
# o faras    o nick     o mike

bfs(graph, 'Wasim')

['Wasim', 'Amin', 'Imran', 'Nick', 'Mike', 'Faras']

In [13]:
# o faras
# |
# o imran
# | 
# o wasim  o nick  o mike
# |        |       |
# o amin ----------

bfs(graph, 'Faras')

['Faras', 'Imran', 'Wasim', 'Amin', 'Nick', 'Mike']

In [14]:
# o rektor
# | 
# o warek1    o warek2 ----  
# |           |            |                 
# o kaprodi1  o kaprodi2   o kaprodi3
# |           |            |     
# o dosenA

graph={'Rektor' : {'Warek1', 'Warek2'},
       'Warek1' : {'Rektor'},
       'Warek2' : {'Rektor','Kaprodi1', 'Kaprodi2','Kaprodi3'},
       'Kaprodi1' : {'Warek2','Dosen A','Dosen B','Dosen C'},
       'Dosen A' : {'Kaprodi1'},
       'Dosen B' : {'Kaprodi1'},
       'Dosen C' : {'Kaprodi1'},
       'Kaprodi2' : {'Warek2','Dosen D','Dosen E'},
       'Dosen D' : {'Kaprodi2'},
       'Dosen E' : {'Kaprodi2'},
       'Kaprodi3' : {'Warek2','Dosen F','Dosen G'},
       'Dosen F': {'Kaprodi3'},
       'Dosen G' : {'Kaprodi3'}}

In [15]:
bfs(graph, 'Rektor')

['Rektor',
 'Warek1',
 'Warek2',
 'Kaprodi3',
 'Kaprodi2',
 'Kaprodi1',
 'Dosen G',
 'Dosen F',
 'Dosen E',
 'Dosen D',
 'Dosen A',
 'Dosen C',
 'Dosen B']

In [16]:
def dfs(graph, start, visited=None):
    if visited is None:
       visited = set()
    visited.add(start)
    print(start)
    for next in graph[start] - visited:
         dfs(graph, next, visited)
    return visited

In [17]:
graph={ 'Amin' : {'Wasim', 'Nick', 'Mike'},
        'Wasim' : {'Imran', 'Amin'},
        'Imran' : {'Wasim', 'Faras'},
        'Faras' : {'Imran'},
        'Mike' : {'Amin'},
        'Nick' : {'Amin'}}

In [18]:
bfs(graph, 'Amin')

['Amin', 'Nick', 'Mike', 'Wasim', 'Imran', 'Faras']

In [24]:
# o amin ----------------
# |          |           |     
# o wasim    o nick      o mike
# |
# o imran
# |
# o faras
# turun dari Amin ke faras, geser ke nick & mike

dfs(graph, 'Amin')

Amin
Nick
Mike
Wasim
Imran
Faras

{'Amin', 'Faras', 'Imran', 'Mike', 'Nick', 'Wasim'}

In [25]:
# o amin ----------------
# |          |           |     
# o wasim    o nick      o mike
# |
# o imran
# |
# o faras
# turun dari wasim ke faras, naik ke amin, geser ke nick & mike

dfs(graph, 'Wasim')

Wasim
Imran
Faras
Amin
Nick
Mike

{'Amin', 'Faras', 'Imran', 'Mike', 'Nick', 'Wasim'}

In [26]:
# o amin ----------------
# |          |           |     
# o wasim    o nick      o mike
# |
# o imran
# |
# o faras
# naik dari faras ke amin, geser ke nick & mike

dfs(graph, 'Faras')

Faras
Imran
Wasim
Amin
Nick
Mike

{'Amin', 'Faras', 'Imran', 'Mike', 'Nick', 'Wasim'}

In [27]:
# o amin ----------------
# |          |           |     
# o wasim    o nick      o mike
# |
# o imran
# |
# o faras
# naik nick ke amin, turun ke faras, geser ke mike

dfs(graph, 'Nick')

Nick
Amin
Mike
Wasim
Imran
Faras

{'Amin', 'Faras', 'Imran', 'Mike', 'Nick', 'Wasim'}

In [28]:
graph={'Rektor' : {'Warek1', 'Warek2'},
       'Warek1' : {'Rektor'},
       'Warek2' : {'Rektor','Kaprodi1', 'Kaprodi2','Kaprodi3'},
       'Kaprodi1' : {'Warek2','Dosen A','Dosen B','Dosen C'},
       'Dosen A' : {'Kaprodi1'},
       'Dosen B' : {'Kaprodi1'},
       'Dosen C' : {'Kaprodi1'},
       'Kaprodi2' : {'Warek2','Dosen D','Dosen E'},
       'Dosen D' : {'Kaprodi2'},
       'Dosen E' : {'Kaprodi2'},
       'Kaprodi3' : {'Warek2','Dosen F','Dosen G'},
       'Dosen F': {'Kaprodi3'},
       'Dosen G' : {'Kaprodi3'}}
        
dfs(graph, 'Rektor')

Rektor
Warek1
Warek2
Kaprodi3
Dosen G
Dosen F
Kaprodi2
Dosen E
Dosen D
Kaprodi1
Dosen A
Dosen B
Dosen C

{'Dosen A',
 'Dosen B',
 'Dosen C',
 'Dosen D',
 'Dosen E',
 'Dosen F',
 'Dosen G',
 'Kaprodi1',
 'Kaprodi2',
 'Kaprodi3',
 'Rektor',
 'Warek1',
 'Warek2'}