<a href="https://colab.research.google.com/github/devannaalandra/Desain-dan-analisis-algoritma/blob/main/Salinan_dari_DAA_pert4_Devanna.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#swap function
var1 = 1
var2 = 2
var1,var2 = var2,var1

In [ ]:
print(var1,var2)

2 1

#Buat fungsi swap dengan menambahkan variabel ketiga bernama var3

In [ ]:
var3 = 3
var1, var2, var3 = var1, var2, var3

In [ ]:
list = [25,21,22,24,23,27,26]

#modifikasi sesuai angka favorit anda

In [ ]:
#proses penukaran bubble sort

lastElementIndex = len(list)-1
print(0,list)
for idx in range(lastElementIndex):
                if list[idx]>list[idx+1]:
                    list[idx],list[idx+1]=list[idx+1],list[idx]
                print(idx+1,list)

0 [25, 21, 22, 24, 23, 27, 26]
1 [21, 25, 22, 24, 23, 27, 26]
2 [21, 22, 25, 24, 23, 27, 26]
3 [21, 22, 24, 25, 23, 27, 26]
4 [21, 22, 24, 23, 25, 27, 26]
5 [21, 22, 24, 23, 25, 27, 26]
6 [21, 22, 24, 23, 25, 26, 27]

In [ ]:
def Bubblesort(list):
# Exchange the elements to arrange in order
    lastElementIndex = len(list)-1
    for passNo in range(lastElementIndex,0,-1):
        for idx in range(passNo) :
            if list[idx]>list[idx+1]:
                list[idx],list[idx+1]=list[idx+1],list[idx]
    return list

In [ ]:
list

[21, 22, 24, 23, 25, 26, 27]

In [ ]:
def BubbleSort(list):
# Exchange the elements to arrange in order
     lastElementIndexIndex = len(list)-1
     for passNo in range(lastElementIndex,0,-1):
       for idx in range(passNo):
         if list[idx]>list[idx+1]:
            list[idx],list[idx+1]=list[idx+1],list[idx]
     return list

In [ ]:
#masukan angka dengan urutan lainnya

list = [25,21,22,24,23,27,26]

In [ ]:
list

[25, 21, 22, 24, 23, 27, 26]

In [ ]:
last_element_idx = len(ls) - 1
print(0, ls)

for idx in range(last_element_idx):
    if ls[idx] > ls[idx + 1]:
        ls[idx], ls[idx + 1] = ls[idx + 1], ls[idx]
    print(idx + 1, ls)

0 [100, 20, 60, 90, 40, 30, 10]
1 [20, 100, 60, 90, 40, 30, 10]
2 [20, 60, 100, 90, 40, 30, 10]
3 [20, 60, 90, 100, 40, 30, 10]
4 [20, 60, 90, 40, 100, 30, 10]
5 [20, 60, 90, 40, 30, 100, 10]
6 [20, 60, 90, 40, 30, 10, 100]

In [ ]:
def bubble_sort(ls):
    swap_count = 1
    pass_count = 0
    n = len(ls)
    while swap_count > 0 and pass_count < n:
        swap_count = 1
        for i in range(0, n - pass_count - 1):
            if ls[i] > ls[i + 1]:
                ls[i], ls[i + 1] = ls[i + 1], ls[i]
                swap_count += 1
        print(f'Pass {pass_count+ 1} : {ls}')
        pass_count += 1
    return ls

urutkan deret bilangan di bawah ini menggunakan metode sorting bubble sort 100, 20, 60, 90, 40, 30,10

In [ ]:
ls = [100, 20, 60, 90, 40, 30, 10]
bubble_sort(ls)

Pass 1 : [20, 60, 90, 40, 30, 10, 100]
Pass 2 : [20, 60, 40, 30, 10, 90, 100]
Pass 3 : [20, 40, 30, 10, 60, 90, 100]
Pass 4 : [20, 30, 10, 40, 60, 90, 100]
Pass 5 : [20, 10, 30, 40, 60, 90, 100]
Pass 6 : [10, 20, 30, 40, 60, 90, 100]
Pass 7 : [10, 20, 30, 40, 60, 90, 100]

[10, 20, 30, 40, 60, 90, 100]

In [ ]:
def insertion_sort(ls):
    for i in range(1, len(list)):
        j = i - 1
        next = ls[i]

        while (ls[j] > next) and (j >= 0):
            list[j + 1] = list[j]
            j -= 1

        list[j + 1] = next
    
    return list

In [ ]:
list = [100, 20, 60, 90, 40, 30, 10]
insertion_sort(ls)

[11, 12, 16, 25, 57, 75, 89]

In [ ]:
list = [89, 12, 57, 16, 25, 11, 75]
insertion_sort(ls)

[11, 12, 16, 25, 57, 75, 89]

In [ ]:
def linear_search(ls, item):
    for elem in ls:
        if elem == item:
            return True
    return False

In [ ]:
linear_search([1, 4, 2, 3, 5, 1], 13)

False

In [ ]:
linear_search([1, 4, 2, 3, 5, 1], 3)

True

In [ ]:
linear_search(['y', 'u', 'i', 'w', 'o', 'a', 'q', 'u', 'j', 
'p'], 'a')

True

In [ ]:
def binary_search(ls, item):
    first = 0
    last = len(ls) - 1
    
    while first <= last:
        mid = (first + last) // 2
        if ls[mid] == item:
            return True
        else:
            if item < ls[mid]:
                last = mid - 1
            else:
                first = mid + 1

    return False

In [ ]:
ls = [12, 33, 11, 99, 22, 55, 90]
sorted_ls = sorted(ls)

print(binary_search(sorted_ls, 12))
print(binary_search(sorted_ls, 91))

True
False

In [ ]:
ls = ['y', 'u', 'i', 'w', 'o', 'a', 'q', 'u', 'j', 
'p']

sorted_ls = sorted(ls)
print(binary_search(sorted_ls, 'a'))

True

In [ ]:
def interpolation_search(arr, lo, hi, x):
 
    if (lo <= hi and x >= arr[lo] and x <= arr[hi]):
 
        pos = lo + ((hi - lo) // (arr[hi] - arr[lo]) *
                    (x - arr[lo]))
 
        if arr[pos] == x:
            return True
 
        if arr[pos] < x:
            return interpolation_search(arr, pos + 1,
                                       hi, x)
 
        if arr[pos] > x:
            return interpolation_search(arr, lo,
                                       pos - 1, x)
    return False

In [ ]:
ls = [10, 12, 13, 16, 18, 19, 20, 21, 22, 23, 24, 33, 35, 42, 47]
n = len(ls)
x = 18

print(interpolation_search(ls, 0, n - 1, x))

True